body {
	background-image: url(map.jpg);
	background-repeat: repeat;
}
.wrapper {
	background-color: #06F;
	width: 950px;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-width: 10px;
	border-right-width: 2px;
	border-bottom-width: 10px;
	border-left-width: 2px;
	border-top-color: #900;
	border-right-color: #900;
	border-bottom-color: #900;
	border-left-color: #900;
}
.nav {
	background-color: #0F0;
	padding: 0px;
	margin-top: 20px;
	margin-right: 0px;
	margin-bottom: 20px;
	margin-left: 10px;
}
.nav a li {
	background-color: #f2f2f2;
	margin-right: 40px;
	padding-top: 10px;
	padding-right: 30px;
	padding-bottom: 10px;
	padding-left: 30px;
	border: 2px solid #222940;
	color: #222940;
	text-decoration: none;
	)
.nav li {
}
.nav li {
	display: inline;
}
.nav li a:hover {
	color: #0C6;
	background-color: #900;
}
.content {
	background-color: #09F;
}
