body {
	background-image: url(map.jpg);
	background-repeat: repeat;
	margin-bottom: 400px;
	padding-bottom: 400px;
}
.wrapper {
	background-color: #f29c68;
	width: 950px;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-width: 10px;
	border-right-width: 2px;
	border-bottom-width: 10px;
	border-left-width: 2px;
	border-top-color: #f2cf66;
	border-right-color: #f2cf66;
	border-bottom-color: #f2cf66;
	border-left-color: #f2cf66;
}
.nav li a {
	background-color: #FF6633;
	margin-right: 40px;
	padding-top: 10px;
	padding-right: 30px;
	padding-bottom: 10px;
	padding-left: 30px;
	border: 2px solid #993300;
	color: #222940;
	text-decoration: none;
}

.nav {
	padding: 0px;
	margin-top: 20px;
	margin-right: 0px;
	margin-bottom: 20px;
	margin-left: 10px;
}
.nav li {
	display: inline;
}
.nav li a:hover {
	color: #f2f2f2;
	background-color: #222940;
}
.content {
	background-color: #bf8a6b;
	margin-right: 30px;
	padding-right: 30px;
	margin-bottom: 20px;
	margin-left: 30px;
	padding-bottom: 20px;
	padding-left: 30px;
	margin-top: 5px;
	padding-top: 5px;
}
h1 {
	color: #515659;	
}
p1 {
color: #222625;	
}
	
.bronx {
	font-size: 24px;
	margin-left: 40px;
}
.choices {
	font-size: 24px;
	font-style: normal;
	text-align: center;
	display: inline;
}
.hill {
	text-align: center;
}
.wave-text {
	padding: 20px;
	top: 20px;
	bottom: 20px;
	margin-top: 20px;
	margin-right: 20px;
	margin-bottom: 40px;
	margin-left: 20px;
}
.free {
	text-align: center;
}
p  { font-family: Verdana, Geneva, sans-serif;color:#0000}

h4 {
	Font-size: 24px }